body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
  min-height: 100vh;
  background: #121212;
  display: flex;
  flex-direction: column; }

html {
  scroll-behavior: smooth; }

main {
  flex: 1 1 auto; }

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 20px; }

.nav {
  background: #52616B; }

.nav__container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px; }

.nav__logo {
  font-weight: 900;
  font-size: 36px;
  color: #fff;
  margin-left: 10px;
  margin-right: 390px;
}

.nav__menu {
  display: none; }

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px; }

.request {
  margin-top: 50px; }

.request__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff; }

.request__success {
  margin-top: 100px;
  display: none;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  border-bottom: 2px solid #96ec00;
  padding-bottom: 5px; }

.request__success--active {
  display: block; }

.request__success span {
  display: block;
  font-size: 14px;
  margin-top: 30px; }

.request__container {
  display: none;
  gap: 15px;
  justify-content: center;
  margin: 50px auto 0;
  flex-direction: column;
  max-width: 350px; }

.request__container--active {
  display: flex; }

.request__label {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase; }

.request__input {
  font-family: 'Roboto', serif;
  width: 100%;
  height: 50px;
  border: none;
  box-sizing: border-box;
  display: block;
  background: #201C1C;
  color: #ffffff;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  border-radius: 0; }

.request__input::placeholder {
  text-transform: uppercase; }

.request__submit {
  width: 100%;
  height: 50px;
  border: none;
  box-sizing: border-box;
  display: block;
  background: #201C1C;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;
  cursor: pointer; }

.request__registry {
  width: 100%;
  height: 50px;
  border: none;
  box-sizing: border-box;
  display: block;
  background: #201C1C;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;
  cursor: pointer; }

.password {
    position: relative;
}

.password-control {
	position: absolute;
	top: 5px;
	right: 4px;
	width: 40px;
	height: 40px;
}


@media (max-width: 980px) {
  .nav__list {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    z-index: 10;
    padding: 0;
    margin: 0;
    padding-top: 50px; }
  .nav__list--active {
    display: flex; }
  .nav__menu {
    display: block; }
  .header-info::before {
    width: 100%; }
  .contact__title {
    font-size: 18px; }
  .contact__list {
    flex-direction: column;
    gap: 20px; }
  .contact__map {
    width: 300px; }
  .form__title {
    font-size: 18px; }
  .form-item {
    grid-template-columns: 1fr; }
  .form-item-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form-item__form {
    margin-top: 30px !important; }
  .request__title {
    font-size: 18px; }
  .request__input, .request__submit, .request__label {
    font-size: 12px; }
