<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<title>Нejudge<sup>β</sup> - Login</title>
</head>
<body>
	<div class="form_auth_block">
	<div class="form_auth_block_content">
		<h1 class="form_auth_block_head_text">Вход в тестирующую систему Нejudge<sup>β</sup></h1>
		<form class="form_auth_style" action="/entrance" method="post">
			<input type="text" name="login" placeholder="Login" required >
			<input type="password" name="password" placeholder="password" required >
			<button class="form_auth_button" type="submit">Войти</button>
		</form>
        <!-- подредачь плиз a href что бы он был как бы замаскировыный под кнопку -->
        <button class="reg-button"><a href="/registration">Регистрация</a></button>
	</div>
	</div>
</body>
</html>
