<body>
    <h1><a alig = left>Регистрация в тестирующую систему Nejudge<sup>β</sup></a></h1>                                  
    <form action = '/registration' method = "POST">
        <p align = left><input name = "name" placeholder = "Имя" autocomplete="off" minlength = "3"/></p>
        <p align = left>Имя пользвателя должно быть больше 3 символов</p>
        <p align = left><input name = "login" placeholder = "login" autocomplete="off" minlength = "4"/></p>
        <p align = left>login должен быть больше 3 символов</p>
        <p align = left><input name = "password" placeholder = "Пароль" type = "password" autocomplete="off" minlength="6" /></p>
        <p align = left>Пароль должен быть больше 5 символов</p>
        <button>Регистрация</button>
    </form> 
</body>
                            
